:host {
    display: block;
    width: 750px;
    border: 1px solid #aaa;
}

a {
    color: black;
    text-decoration: none;
}

.filename {
    padding: 10px;
    background-color: #eee;
    display: flex;
}

.spacer {
    flex: 1;
}

.button {
    cursor: pointer;
}

.code {
    padding: 10px;
    display: none;
}

.code.has-code {
    display: block;
}

.comment {
    min-height: 21.25px;
    border-top: 1px solid #eee;
    padding: 10px;
}
