@media screen and (max-width: 1200px) {
  .infobox {
    display: none !important;
  }
}

a.invisible-link {
  color: black;
  text-decoration: none;
}


p, span.line {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre;
    height: 1.35em;
    display: block;
}

.infobox {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px #ccc;
}

.infotop {
    cursor: pointer;
    padding: 10px;
    background-color: #eee;
}

.infobody ul {
  list-style-type: none;
  padding-left: 15px;
}

.infotype {
    background-color: #268bd2;
    color: white;
    padding-right: 3px;
    padding-left: 1px;
    font-style: normal;
    border-radius: 5px;
}

.infobody {
    padding: 10px;
}

