input {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    border-radius: 0px;
    width: 600px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #ddd;
}

input:focus {
    box-shadow: 1px 1px 6px #ddd;
    outline: none;
}

.suggestions {
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    position: absolute;
    padding: 0;
    width: 620px;
    margin-top: -2px;
    box-shadow: 1px 1px 2px #ddd;
    background-color: white;
    border: 1px solid #ddd;
    list-style-type: none;
    z-index: 5;
}

.suggestions li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
}

.suggestions li.selected {
    background-color: #eee;
}

.entity-info {
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  color: grey;
}

.entity-info .spacer {
  flex: 1;
}
