li {
  list-style-type:none;
  margin-bottom: 2px;
}

div.info {
  flex-shrink: 0;
  width: 100px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 15px;
}

div.author {
  margin-left: 15px;
  width: 75px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
  flex-shrink: 0;
}

div.outer {
  display: flex;
  height: 15px;
  overflow: hidden;
}

div.reviewers {
  flex-shrink: 1;
  height: 15px;
  display: inline-block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
}


div.title {
  height: 15px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}

div.suffix {
  height: 15px;
  display: inline-block;
  overflow: hidden;
  color: #666;
  margin-left: 20px;
  flex-shrink: 10;
}

span.reviewer {
  margin-left: 10px;
}

span.reviewer.APPROVED {
  color: #2b9348;
  font-weight: bold;
}

a.invisible {
  color: inherit;
  text-decoration: inherit;
}

@media only screen and (max-width: 1024px) {
  span.repo_name {
    display: none;
  }

  div.info {
    display:none;
  }

  div.reviewers {
    width: 100px;
  }
}
