:host {
    width: 1024px;
    height: 768px;
    display: flex;
    flex-direction: row;
    font-family: monospace;
    overflow: auto;
}

div.line-numbers {
    width: 50px;
    background-color: white;
    text-align: right;
    padding-right: 20px;
    color: grey;
    user-select: none;
}

div.code {
    flex: 1;
}

p {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.italic {
    font-style: italic;
}
