:host {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

a.invisible-link {
  color: black;
  text-decoration: none;
}

div.line-numbers {
    background-color: white;
    text-align: right;
    color: grey;
    user-select: none;
    border-right: 1px solid #eee;
}

div.line-numbers p {
    padding-left: 5px;
    padding-right: 15px;
}

div.code {
    flex: 1;
}

code {
    width: 100%;
}

.code span.line {
    padding-left: 5px;
    white-space: pre;
    font-family: 'Roboto Mono', monospace;
}

div.line-numbers p.selected-line {
    color: white;
    background-color: #268bd2;
}

div.line-numbers p.has-symbol {
    padding-right: 12px;
}

div.line-numbers p.symbol-color-0 {
    border-right: 3px solid #00800057;
}

div.line-numbers p.symbol-color-1 {
    border-right: 3px solid #cb4b1675;
}

.infobox {
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.infotop {
    padding: 10px;
    background-color: #eee;
}

.infobody ul {
  list-style-type: none;
  padding-left: 15px;
}

.infotype {
    background-color: #268bd2;
    color: white;
    padding-right: 3px;
    padding-left: 1px;
    font-style: normal;
    border-radius: 5px;
}

.infobody {
    padding: 10px;
}

.code p.selected-line {
    margin-top:-1px;
    margin-bottom:-1px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
}

p, span.line {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre;
    height: 1.35em;
    display: block;
}

.italic {
    font-style: italic;
}

span.str {
    color: #cb4b16;
}


span.keyword {
    color: #268bd2;
    font-weight: 500;
}

span.literal {
    color: #dc322f;
    font-weight: 500;
}


span.comment {
    color: #657b83;
}

div.menu {
    margin-top: 0px;
    margin-left: 0px;
    display: block;
    position: fixed;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.menu ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
    margin-top: 0;
}

.menu li {
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu li:hover {
    background-color: #eee;
}
